.idea/
.env
node_modules/

build/
.DS_Store
coverage/
coverage.json

hardhat.config.ts
truffle-config.js

*.log
!deployments/*.log
development.json
*.development.json

contracts/uniswap-lib/
contracts/uniswap-v2-core/
contracts/uniswap-v2-periphery/
